<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <permission
        android:name="dev.revivalside.officialprofilecapture.INTERNAL_STATUS"
        android:protectionLevel="signature" />
    <uses-permission android:name="dev.revivalside.officialprofilecapture.INTERNAL_STATUS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <queries>
        <package android:name="com.studiobside.CounterSide" />
    </queries>

    <application
        android:allowBackup="false"
        android:pageSizeCompat="enabled"
        android:label="RevivalSide Android"
        android:resizeableActivity="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="dev.revivalside.capture.android.MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="dev.revivalside.capture.android.CounterSideVpnService"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Local packet capture and forwarding for user-selected app traffic" />
        </service>

        <service
            android:name="dev.revivalside.capture.android.RevivalSideListenerService"
            android:process=":listener"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Local RevivalSide listener control service" />
        </service>

        <provider
            android:name="dev.revivalside.capture.android.ExportFileProvider"
            android:authorities="dev.revivalside.officialprofilecapture.exports"
            android:exported="false"
            android:grantUriPermissions="true" />
    </application>
</manifest>
